# Ignore Maven and build output directories
**/target/
/tfms-modules/auth-modules/auth-service/target/
/tfms-modules/common-modules/target/
/tfms-starter/target/

# Log files
logs/
*.log
*.log.*
*.json
!**/src/**/*.json

# Maven/Gradle build directories
*.class
*.jar

