.sidebar {
  width: 240px;
  background-color: #0F6B3A; 
  color: white;
  height: 100vh;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}


.sidebar-logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.sidebar-logo-bg {
  background: white; 
  padding: 10px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}


.sidebar-menu {
  margin-top: 20px;
}

.sidebar-item {
  padding: 12px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
}

.sidebar-item:hover {
  background-color: #2EA84A; 
}

.sidebar-item.active {
  background-color: #2EA84A;
}
